#js-pr-re-global-resources{

  max-width: 90%;
  hr{

    margin: 15px 0;

  }
  select{

    max-width: 100%;
    min-width: 200px;

  }


  input[type=submit]{

    background: #0b8bf3 ;
    color: #ffffff;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 9px 30px;
    transition: all ease-out 0.2s;
    &:hover{
      background-color: #2271b1;
    }

  }



}



.js-pr-re-metabox-input-container {

  margin: 20px 0 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .js-pr-re-single-input-container{
    label{
      font-weight: bold;
      display: inline-block;
      margin-bottom: 10px;
    }
    max-width: 200px;
  }

  @media (min-width:700px) and (max-width: 1000px){

    grid-template-columns: 1fr 1fr 1fr;

  }


  @media (max-width: 699px){

    grid-template-columns: 1fr 1fr;

  }

}


.postbox-container{

  .js-pr-re-metabox-input-container {


    select{

      min-width: 200px;

    }


    @media (min-width:1001px) and (max-width: 1366px){

      grid-template-columns: 1fr 1fr;

    }

    @media (min-width:700px) and (max-width: 1000px){

      grid-template-columns: 1fr 1fr;

    }


    @media (max-width: 699px){

      grid-template-columns: 1fr 1fr;

    }


  }


}